<footer class="chalkbeat">

  <div class="cb__justified">
    <a href="https://chalkbeat.org">
      <img src="./assets/Cb-Logo-2Color-V1.svg" alt="Chalkbeat logo" class="cb__logo">
    </a>

    <div class="cb__links">
      <a href="https://www.chalkbeat.org/pages/about">About us</a> &bull;
      <a href="https://www.chalkbeat.org/pages/our-staff">Our staff</a> &bull;
      <a href="https://www.chalkbeat.org/pages/careers">Careers at Chalkbeat</a> &bull;
      <a href="https://www.chalkbeat.org/pages/supporters">Our supporters</a> &bull;
      <a href="https://www.chalkbeat.org/pages/contact-us">Contact us</a> &bull;
      <a href="https://www.chalkbeat.org/pages/how-to-be-a-source">How to be a source</a>
    </div>
  </div>

</footer>
