@purple-1: #9D47BF;
@purple-2: #A584B2;
@teal-1: #b7d3d3;
@teal-2: #2F8789;
@yellow-2: #F9A011;

@content-width: 900px;

:root {
  --ghost-accent-color: @purple-2;
}

body {
  font-family: sans-serif;
}

.last-updated {
  opacity: 0.1;
  font-size: xx-small;
  color: #666;
  text-align: right;
}

h2:hover .last-updated,
h3:hover .last-updated {
  opacity: 1;
}

.table-of-contents li {
  font-size: 1em;
  line-height: 1.2em;
}

h1 {
  margin-top: 10v !important;
  display: inline-block;
  position: relative;
  margin: 0 auto;

  &:before {
    content: '';
    width: 50%;
    height: .05em;
    background: @purple-2;
    position: absolute;
    margin:0 auto;
    top: -.5em;
    left: 0;
    right: 0;
  }
}



#intro {
  margin-top: 0;
  
  &:before {
    display:none;
  }
}

.gh-content {
  margin-top: 0 !important;
  a {
    color: @teal-2 !important;
  }
}

.gh-site .gh-main {
  padding-top: 100px;
}

@media (min-width: 768px) {
  .gh-head {
    position: fixed;
    background: white;
    width: 100%;
    z-index: 99;
    top: 0px;
    transition: top .25s linear;
  }

  .table-of-contents {
    margin: 1em;
    padding: 1em;
    width: 20vh;
    position: fixed;
    top: 100px;
    height: calc(100vh - 100px);
    overflow-y: auto;
    overflow-x: hidden;
    transition: top .25s linear;
  }
}

@media (min-width: 1600px) {
  .table-of-contents {
    width: 30vh;
  }
}

@media (min-width: 1900px) {
  .table-of-contents {
    width: 40vh;
  }
}

@media (max-width: 1200px) {
  .table-of-contents {
    display: none;
  }
}