:root {
  --ghost-accent-color: #A584B2;
}
body {
  font-family: sans-serif;
}
.last-updated {
  opacity: 0.1;
  font-size: xx-small;
  color: #666;
  text-align: right;
}
h2:hover .last-updated,
h3:hover .last-updated {
  opacity: 1;
}
.table-of-contents li {
  font-size: 1em;
  line-height: 1.2em;
}
h1 {
  margin-top: 1em !important;
  display: inline-block;
  position: relative;
  margin: 0 auto;
}
#intro {
  margin-top: 0;
}
#intro:before {
  display: none;
}
#intro a:after {
  display: none;
}
.gh-content {
  margin-top: 0 !important;
}
.gh-content a {
  color: #2F8789 !important;
}
.gh-content a.header-anchor {
  color: var(--color-darker-gray) !important;
  text-decoration: none;
}
.gh-content a.header-anchor:after {
  content: " ⇗";
  color: #2F8789 !important;
}
.gh-content a.header-anchor:hover:after {
  content: ' click to copy entry link';
  font-size: small;
}
.gh-site .gh-main {
  padding-top: 100px;
}
@media (min-width: 768px) {
  .gh-site .gh-main {
    padding-top: 1em;
  }
  .gh-article {
    display: flex;
  }
  #intro {
    margin-top: 0 !important;
  }
  .table-of-contents {
    margin: 0em;
    padding: 0 1em;
    width: 30vh;
    overflow-y: auto;
    overflow-x: hidden;
    position: sticky;
    top: 1em;
    height: 100vh;
  }
  .gh-content {
    flex: 1;
    display: block;
    padding: 0 1em;
    max-width: 800px;
    margin-left: 5%;
  }
}
@media (max-width: 768px) {
  .table-of-contents {
    display: none;
  }
  #gh-main {
    padding: 0 0.5em;
  }
}
details {
  padding: inherit;
  margin: 0.6em;
}
details em {
  font-size: 80%;
}
.readmore {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 10px 10px;
  border-radius: 10px;
  margin: 1em 0;
  background-color: var(--color-lighter-gray);
}
.readmore ul {
  margin: 4px 10px 4px 10px;
}
.donate {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 1em 1em;
  margin: 1em 0 1em 0;
  border-radius: 10px;
  text-align: center;
  background-color: #b7d3d3;
}
.donate ul {
  margin: 4px 10px 4px 10px;
}
.donate button {
  border: 0;
  border-radius: 0.25em;
  font-weight: bold;
  text-decoration: none;
  background-color: #2F8789;
  font-size: 2rem;
  padding: 1em;
  line-height: 1.2rem;
  margin-top: 0.5em;
}
.donate a {
  color: white !important;
}
