:root {
  --ghost-accent-color: #A584B2;
}
body {
  font-family: sans-serif;
}
.last-updated {
  opacity: 0.1;
  font-size: xx-small;
  color: #666;
  text-align: right;
}
h2:hover .last-updated,
h3:hover .last-updated {
  opacity: 1;
}
.table-of-contents li {
  font-size: 1em;
  line-height: 1.2em;
}
h1 {
  margin-top: 10v !important;
  display: inline-block;
  position: relative;
  margin: 0 auto;
}
h1:before {
  content: '';
  width: 50%;
  height: 0.05em;
  background: #A584B2;
  position: absolute;
  margin: 0 auto;
  top: -0.5em;
  left: 0;
  right: 0;
}
details {
  padding: inherit;
  margin: 0.6em;
}
details em {
  font-size: 80%;
}
.readmore {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
  padding: 10px 10px;
  border-radius: 10px;
  margin: 1em 0;
  background-color: var(--color-lighter-gray);
}
.readmore ul {
  margin: 4px 10px 4px 10px;
}
.readmore p {
  padding-top: 0.2em !important;
  margin-top: 0.2em !important;
}
#intro {
  margin-top: 0;
}
#intro:before {
  display: none;
}
.gh-content {
  margin-top: 0 !important;
}
.gh-content a {
  color: #2F8789 !important;
}
.gh-site .gh-main {
  padding-top: 100px;
}
@media (min-width: 768px) {
  .gh-head {
    position: fixed;
    background: white;
    width: 100%;
    z-index: 99;
    top: 0px;
    transition: top 0.25s linear;
  }
  .table-of-contents {
    margin: 1em;
    padding: 1em;
    width: 20vh;
    position: fixed;
    top: 100px;
    height: calc(100vh - 100px);
    overflow-y: auto;
    overflow-x: hidden;
    transition: top 0.25s linear;
  }
}
@media (min-width: 1600px) {
  .table-of-contents {
    width: 30vh;
  }
}
@media (min-width: 1900px) {
  .table-of-contents {
    width: 40vh;
  }
}
@media (max-width: 1200px) {
  .table-of-contents {
    display: none;
  }
}
